In [105]:
# -*- coding: UTF-8 -*-
from math import e
import os
from numpy.lib.type_check import _imag_dispatcher
import pandas as pd
import shutil
import numpy as np
import cv2
import random
from tqdm import tqdm
import pyfastcopy
import json,sklearn
from sklearn.model_selection import train_test_split




rawset_stat_path='D:/WWF_Det/WWF_Det/Raw_data_stat/top14-all/top14-all-pos.csv'
df=pd.read_csv(rawset_stat_path)
valued_df=df[~df.isnull().T.any()].drop(['video_path'], axis=1)
cate_list=np.unique(valued_df['cate'].values)
data_dict={'cate':cate_list,'infra_num':[],'rgb_num':[]}
for cate in cate_list:
    data_dict['rgb_num'].append(valued_df.loc[(valued_df['cate'] == cate)&(valued_df['modality'] == 'RGB')].shape[0])
    data_dict['infra_num'].append(valued_df.loc[(valued_df['cate'] == cate)&(valued_df['modality'] == 'Infra')].shape[0])

In [97]:
valued_df

           cate modality
0     baichunlu      RGB
1     baichunlu      RGB
2     baichunlu    Infra
3     baichunlu      RGB
4     baichunlu      RGB
...         ...      ...
6614     zanghu      RGB
6615     zanghu      RGB
6616     zanghu      RGB
6617     zanghu      RGB
6618     zanghu      RGB

[6616 rows x 2 columns]

In [123]:
data_dict['infra_test']=np.round((np.array(data_dict['infra_num'])/(np.array(data_dict['rgb_num'])+(np.array(data_dict['infra_num']))))*20)
data_dict['rgb_test']=20-np.array(data_dict['infra_test'])
new_df=pd.DataFrame(data_dict)
new_df

               cate  infra_num  rgb_num  ratio  infra_test  rgb_test
0         baichunlu         53      233    5.0         4.0      16.0
1             chihu        141      161   18.0         9.0      11.0
2   gaoyuanshanchun          0       83    0.0         0.0      20.0
3         gaoyuantu         93       50   37.0        13.0       7.0
4           lanmaji          1      553    0.0         0.0      20.0
5                ma         13       72    4.0         3.0      17.0
6              malu        189      649    6.0         5.0      15.0
7            maoniu         96      925    2.0         2.0      18.0
8             mashe         31       75    8.0         6.0      14.0
9            person         12      716    0.0         0.0      20.0
10           xuebao        174      291   12.0         7.0      13.0
11             yang          1      216    0.0         0.0      20.0
12          yanyang         76     1611    1.0         1.0      19.0
13           zanghu          0      101    0.0         0.0      20.0

               cate  infra_num  rgb_num      ratio
0         baichunlu         53      233   4.549356
1             chihu        141      161  17.515528
2   gaoyuanshanchun          0       83   0.000000
3         gaoyuantu         93       50  37.200000
4           lanmaji          1      553   0.036166
5                ma         13       72   3.611111
6              malu        189      649   5.824345
7            maoniu         96      925   2.075676
8             mashe         31       75   8.266667
9            person         12      716   0.335196
10           xuebao        174      291  11.958763
11             yang          1      216   0.092593
12          yanyang         76     1611   0.943513
13           zanghu          0      101   0.000000

In [38]:
print(row_l)

[]